.galerie.global{
    padding: 0;
}

.galerie{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #05283C;

    &__img{
        width: 18vw;
        height: 30vh;
        object-fit: cover;
        padding: 0;
        margin: 0;
    }
}

.galerie__images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

.galerie__figure{
    padding: 2px;
    margin: 2px;
}

.populaire{
    .global{
        background-color: #05283C;
    }
}