.cartes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.carte{
    display : flex;
    flex-direction: column;
    justify-content: space-between;

    width: 450px;
   &--grande{
   } 
   &__image{

    img{
        width : 100%;
    }
   }
   &__contenu{
       background-color: #bbdfff; 
   }
   &__titre{
    
   }
   &__description{}
   &__bouton{
    &--actif{}
   }


}