// Entete
// Logo
.logo__img{
    width: 100px;

    @media screen and (max-width:800px){
        width: 50px;
    }
}

.entete{
    align-items: center;
    width: auto;

    &__nav{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 3rem;
        position: static;
        background-color: transparent;
        width: auto;

        // Version mobile (petit écran)
        @media screen and (max-width:800px) { 
        align-items: center;
        right: 0;
        top: 0;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        }
    }
}

// Figures
@media screen and (max-width:800px){
    figure{
        margin: 2px;
    }
}
