.menu{
    list-style-type: none;

    &__li{

        margin: 3px 0;

        @media screen and (max-width:800px){flex-direction: column;}
        display: flex;
        

        a{
            padding: 4px;
            text-decoration: none; 
            color: grey;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

    