.menu{
    display: flex;
    flex-direction: column;
    list-style-type: none;

    &__li{

        margin: 3px 0;

        a{
            padding: 4px;
            text-decoration: none; 
            color: grey;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

    