// Version Mobile
.section_404 {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.titre_404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.381);
    padding: 2rem;
    width: 80vw;
}

.para_404{
    background-color: rgba(255, 255, 255, 0.381);
    padding: 2rem;
    width: 80vw;
}

.texte_erreur{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.erreur__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 0 0 0;
    margin: 0;
    gap: 5px;
}

.erreur__menu a{
    background-color: rgba(0, 76, 255, 0.496);
    color: black;
    font-size: 18px;
    padding: 12px;
    border-radius: 15px;
}

.erreur__global{
    margin: 2.5rem;
}

.bouton_pg_error{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.bouton_pg_error--actif:hover {
    background-color: #ff4c4c;
}

// Version Tablette
@media (min-width: 1025px) and (max-width: 1280px) {
  
    .titre_404{
        background-color: #ff6b6b;
    }

    .menu{
        flex-wrap: wrap;
    }
    
  }

// Version Desktop
@media (min-width: 1281px) {
  
    .titre_404{
        background-color: #6bfff5;
    }
    
  }