.vague--animee {
    animation: bougeVague 10s linear infinite;
    position: relative;
    width: 100%;
    height: auto;
}

@keyframes bougeVague {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
