.recherche{
    display: flex;
    background-color: rgba(159, 164, 174, 0.601);
    width: 25rem;
    border-radius: 25px;
    height: 2rem;
    padding: 5px;

    &__input{
        border: none;
        outline: none;
        background-color: transparent;
        flex: 1 0 auto;
        padding: 3px;
        &::placeholder{
            color: rgb(255, 255, 255);
            font-style: italic;
        }
    }

    &__bouton{
        border: none;
        background: none;
    }

    &__img{
        flex: 0 0 20px;
        padding: 3px;
    }

    // Écran mobile
    @media screen and (max-width:800px){
        display: none;
    }
}